#main table, #contentIe {
  width:100%;
}

#main table, #main td {
  padding:0;
  margin:0;
  border:0;
  border-collapse:none;
}

#header, #navigation {
  zoom:1;
}

#content {
  border:none;
} 

#areaNavigationIe {
  background:#e7f0f8;
  border-right:1px solid #a3a9af !important;
}

#moreInformationIe {
  background:#f2e7e6;
  border-left:1px solid #a9a494 !important;
}

#areaNavigation, #moreInformation {
  border:none;
}

