/*!
 * Copyright (c) 2011, Justin Force and the Regents of the University of California
 * Licensed under the BSD 3-Clause License
 */

@import url(reset.css);
@import url(base.css);
@import url(fonts.css);

body {
  overflow-x:hidden;
  margin:0;
  padding:0;
}

#header {
  text-align:left;
  font-size:12px;
  background:top right no-repeat url('../img/header_bg.jpg');
  overflow:hidden;
  text-shadow:-1px -1px 1px white, 1px -1px 1px white, 1px 1px 1px white, -1px 1px 1px white;
  min-height:121px;
}

#header img {
  display:block;
  float:left;
}

#header ul {
  display:block;
  float:left;
  margin-top:35px;
  margin-left:15px;
}

#header li {
  list-style-type:none;
}

#header li a {
  font-family:serif;
  font-size:1.2em;
  line-height:2em;
  font-weight:bold;
  color:black;
}

#main {
  display:table;
  width:100%;
}

#navigation, #footer {
  background:#69c;
  color:white;
  border-top:1px solid #345a81;
  border-bottom:1px solid #345a81;
  text-shadow:0 -1px 0px #345a81;
  font-weight:bold;
}

#footer {
  text-align:left;
  padding:10px;
  background:url('../img/footer_bg.png') repeat-x #528cc5;
  min-height:32px;
}

#footer p {
  margin:0 auto;
}

.trow {
  display:table-row;
}

#content {
  min-width:300px;
  border:1px solid #ddd;
}

#content h1 {
  padding-top:0;
  margin-top:0;
}

#areaNavigation, #content, #moreInformation {
  display:table-cell;
  padding:10px;
}
  
#areaNavigation, #moreInformation {
  width:200px;
}

#areaNavigation {
  background:#E7F0F8;
  border-right:1px solid #a3a9af;
}

#areaNavigation ul {
  margin:0;
}

#moreInformation {
  background:#f2e7e6;
  border-left:1px solid #a9a494;
}

#navigation {
  text-align:left;
  min-height:30px;
}

#navigation a {
  color: white;
  text-decoration:none;
}

#navigation li li {
  font-size:14px;
  margin:5px;
}

#navigation ul {
  margin:20px;
}

#navigation ul ul {
  margin-top:5px;
  margin-bottom:10px;
}

/* navigation menu */

#navigation.jq :focus {
  outline:0;
}

#navigation.jq ul, #navigation.jq ul li ul, #navigation li li {
  margin:0;
}

#navigation.jq {
  line-height:30px;
  clear:left;
  text-align:left;
  background:#69c;
  background:url('../img/navigation_bg.png') repeat-x #528cc5;
  cursor:default;
}

#navigation.jq li {
  background:transparent url('../img/navigation_sep.png') no-repeat top right;
  padding:0 20px;
  margin-left:-1px;
  text-align:center;
  float:left;
  display:inline;
  cursor:pointer;
}

#navigation.jq ul ul {
  display:block;
  background:#518bc5;
  position:absolute;
  width:150px;
}

#navigation.jq li ul {
  margin-left:-20px;
  padding-right:18px;
}

#navigation.jq li ul li {
  background-image:none;
  margin-right:-5px;
  text-align:left;
  line-height:15px;
  padding:10px;
  clear:both;
  width:100%;
}

#navigation.jq ul ul {
  background:#518bc5;
  border:1px solid #345A81;
  border-top:none;
}

#navigation.jq ul li {
  list-style:none;
}

#navigation.jq ul li {
  float:left;
  list-style:none;
}

#navigation.jq a {
  text-decoration:none;
  color:white;
  font-size: 0.8em;
}

#navigation.jq li li a {
  display:block;
  margin-left:10px;
  text-indent:-10px;
}

#navigation.jq li li.hovered {
  background:#069;
}

/* areaNavigation */
#areaNavigation {
  text-align:left;
  color:#444;
  font-weight:bold;
}

#areaNavigation a, #areaNavigation a:visited {
  color:#444;
  text-decoration:none;
}

#areaNavigation li {
  list-style:none;
  cursor:pointer;
  margin-left:0;
  padding-left:16px;
}

#areaNavigation .expandableList {
  background:url('../img/plus.gif') no-repeat 0px 4px;
  padding-left: 16px;
}

#areaNavigation .expandedList {
  background:url('../img/minus.gif') no-repeat 0px 4px;
}
